.download-btn {
    background-color: #3182ce;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none; 
    transition: background 0.3s ease-in-out;
  }
  
  .download-btn:hover {
    background-color: #2b6cb0;
    color: white; 
  }
  