.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1a202c;
    color: #cbd5e0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .logo h1 {
    margin: 0;
    font-size: 1.8rem;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  